.inline {
	display: inline-block;
}

.alignCenter {
	text-align: center;
}

/*Refuse page*/
.data-label {
	text-align: left;
	padding-top: 7px;
}

/* SHOW */
.commentArea {
	margin-top: 10px;
	margin-bottom: 20px;
}

.btn_comment {
	margin-top: 2px;
}


/* CREATE */

#radio {
	padding-top: 8px;
}

#searchNav {
  height: 100px;
  width: 100%;
}
#searchLi {
  display: inline;
  list-style: none;
}
#searchForm {
  display: inline;
}